<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="zooClient" class="com.github.holodnov.graph.zoo.ZooClient"/>
    <bean id="uint64Generator" class="com.github.holodnov.graph.generator.UINT64Generator"/>
    <bean id="graphService" class="com.github.holodnov.graph.service.GraphService">
        <property name="zooClient" ref="zooClient"/>
        <property name="uint64Generator" ref="uint64Generator"/>
    </bean>

</beans>
